apiVersion: v1
kind: Service
metadata:
  labels:
    app: iroha
  name: iroha
spec:
  clusterIP: None
  ports:
  - port: 50051
  selector:
    app: iroha
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: iroha
  labels:
    app: iroha
spec:
  serviceName: iroha
  replicas: 4
  selector:
    matchLabels:
      app: iroha
  template:
    metadata:
      labels:
        app: iroha
    spec:
      terminationGracePeriodSeconds: 7
      containers:
      - name: postgres
        image: postgres:9.5
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5432
          name: pg-port
        env:
          - name: POSTGRES_USER
            value: iroha
          - name: POSTGRES_PASSWORD
            value: HelloW0rld
      - name: iroha
        image: hyperledger/iroha-pi
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 10001
          name: inter-peer
        - containerPort: 50051
          name: external
        env:
          - name: KEY
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: pg-host
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
        workingDir: /opt/iroha
        command: ['bash', '/opt/iroha/config/entrypoint.sh']
        volumeMounts:
        - name: block-store
          mountPath: /tmp/block_store
        - name: iroha-config
          mountPath: /opt/iroha/config
      volumes:
        # TODO: secrets
        - name: iroha-config
          configMap:
            name: iroha-config
        - name: block-store
          emptyDir: {}
